<% content_for :title do %>Dans combien de jours ?<% end %>
<div class="gridster">
  <ul>
   
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="annivMax" data-view="Number" data-unordered="true" data-suffix="" data-title="Jours avant Anniv Maxime"></div>
    </li>
	 
	
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="annivAgathe" data-view="Number" data-unordered="true" data-suffix="" data-title="Jours avant Anniv Agathe"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="vacances" data-view="Number" data-unordered="true" data-suffix="" data-title="Jours avant Vacances"></div>
    </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="noel" data-view="Number" data-unordered="true" data-suffix="" data-title="Jours avant Noël"></div>
    </li>
	
	
  </ul>

  
</div>
