<% content_for :title do %>Dans combien de jours ?<% end %>
<div class="gridster">
  <ul>
    
	
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="annivMax" data-view="Number" data-unordered="true" data-suffix=" jours" data-title="Anniversaire Maxime dans"></div>
    </li>
	
  </ul>

  
</div>
