<% content_for :title do %>Consommation électrique<% end %>
<div class="gridster">
  <ul>
    
	
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="instantE" data-view="Conso" data-unordered="true" data-suffix=" W" data-title="Conso. Instantanée"></div>
    </li>
	
    <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="cumulE" data-view="Conso" data-unordered="true" data-suffix=" kWh" data-title="Consommation Cumulée / Journée"></div>
    </li>
	
  </ul>

  
</div>
