<% content_for :title do %>Citations<% end %>
<div class="gridster">
  <ul>
      <li data-row="1" data-col="1" data-sizex="4" data-sizey="3">
          <div data-id="quotes" data-view="Text" data-title="" data-text="L'avenir, il ne s'agit pas de le prévoir, mais de le rendre possible. 
- Antoine de Saint-Exupéry" data-moreinfo=""></div>
    </li>
  </ul>
</div> 
