<% content_for :title do %>Températures<% end %>
<div class="gridster">
  <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="device5" data-view="Temp" data-title="Extérieur" data-suffix="°C"></div>
    </li>

      <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="device11" data-view="Temp" data-title="DC" data-suffix="°C"></div>
    </li>
    
      <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="device13" data-view="Temp" data-title="Agathe" data-suffix="°C"></div>
    </li>
	
      <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="device14" data-view="Temp" data-title="Maxime" data-suffix="°C"></div>
    </li>
	
      <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="device15" data-view="Temp" data-title="Parents" data-suffix="°C"></div>
    </li>
	
      <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="device18" data-view="Temp" data-title="Salon" data-suffix="°C"></div>
    </li>
	
      <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="device19" data-view="Temp" data-title="Bureau" data-suffix="°C"></div>
    </li>


      <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="device39" data-view="Temp" data-title="Ami" data-suffix="°C"></div>
    </li>

      <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="device38" data-view="Temp" data-title="Cuisine" data-suffix="°C"></div>
    </li>

      <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="device40" data-view="Temp" data-title="Douche" data-suffix="°C"></div>
    </li>




	
  </ul>
</div> 
