<% content_for :title do %>trafficy<% end %>
<div class="gridster">
  <ul>
      <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="julien" data-view="Trafficy" data-title="Igny-Ris Orangis"></div>
    </li>
      
     <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="laurence" data-view="Trafficy" data-title="Igny-BoisColombes"></div>
    </li>
    
	
  </ul>
</div> 
